* {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   font-family: "Montserrat";
   box-sizing: border-box;
}
h2, h3 {
   color: white;
   padding-bottom: 5rem;
}
h3 {
   padding: 3rem;
}
.paragraphs {
   color: white;
   letter-spacing: 0.5px;
}
.logo {
   font-size: 24px;
   color: #27AE60;
}
.logo:hover {
   color: #27AE60;
   text-decoration: none;
}
.active-cyan-4 input[type=text] {
   border: 1px solid #27AE60;
   box-shadow: 0 1px 0 0 #27AE60;
 }
 .sign-up {
   margin-left: 30rem;
 }
.landing-page-image img {
   height: 700px;
   width: fit-content;
}
.landing-page-caption {
   width: 100%;
   position: absolute;
   top: 10%;
   text-align: center;
   color: white;
}
 .landing-page-image {
   padding-bottom: 5rem;
   border-bottom: 2px solid #C4C4C4;
}
.image-wrapper {
   position: relative;
}
 .caption {
   padding: 2rem;
   font-size: 25px;
   letter-spacing: 1px;
}
 .form {
   width: 26rem;
   margin-left: 45rem;
   background: white;
   padding: 3rem;
   color: hsl(0, 0%, 31%);
} 
.agreement {
   padding-top: 1rem;
}
 .sign-up-button {
   width: 20rem;
}
.container-styling {
   margin-top: 3rem;
   background: #27AE60;
   padding: 5rem;
   color: white;
}
.Section-head {
   display: flex;
   align-items: flex-start;
   padding: 3rem ;
}
.about-paragraph >p {
   line-height: 2rem;
   width: 80%;
   font-size: 20px;
}
 .phone-img img {
   width: 200px;
   height: 450px;
   margin-left: 10rem;
}
 .about-paragraph {
   margin-left: -15rem;
}
.container-styling-2 {
   background: #27AE60;
   margin-top: 3rem;
   padding: 5rem;
}
.section-start {
   padding-top: 7rem;
}
.make-suggestions-on {
   padding-left: 25px;
}
.options {
   padding-left: 50px;
}
.options2 {
   padding-left: 25px;
}
.clients-feedback {
   margin-top: 3rem;
   border-top: 1px solid #27AE60;
   border-bottom: 1px solid #27AE60;
   padding: 3rem 0;
}
.customer img {
   width: 300px;
   height: 400px;
}

.feedback-container {
   width: 100%;
   background: #27AE60;
   padding: 3rem;
   color: white;
   margin-top: 5rem;
}
h4 {
   font-size: 24px;
   font-weight: 600;
}
.customer-feedback {
   padding-top: 2rem;
   font-style: italic;
}
 /* The dots/bullets/indicators */
 .dot {
   cursor: pointer;
   height: 10px;
   width: 10px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}
 
 .active, .dot:hover {
   background-color: #27AE60;
}
 .dot-group {
   text-align: center;
   margin-top: 3rem;
}
@media screen and (max-width: 900px) {
   .form {
      margin-left: 20rem;
   }
   .phone-img img {
      margin-left: 0;
   }
   .about-paragraph>p {
      margin-left: 3rem;
   }
   .feedback-container {
      margin-top: 0.5rem;
   }
   .landing-page-image img {
      height: 750px;
   }
}
/* @media screen and (max-width: 1200px) {
   .form {
      margin-left: 30rem;
   }
   .about-paragraph {
      margin-left: 0rem;
   }
   .feedback-container  {
      margin-top: 3.7rem;
   }
   .logo {
      font-size: inherit;
   }
} */
.footer {
   background: #27AE60;
   color: white;
   padding: 3rem;
   margin-top: 5rem;
}
.footer img {
   width: 12rem;
   height: 3rem;
   margin-bottom: 3rem;
}
.footer-header {
   font-weight: 600;
   font-size: 20px;
}
.copyright {
   padding-top: 2rem;
   font-size: 14px;
}
.fa-social-media {
   color: white;
   padding: 1rem;

}

@media screen and (max-width: 540px) {
   h1 {
      font-size: 24px;
   }
   .caption {
      font-size: 18px;
   }
   .form{
      margin: 0 auto;
      width: inherit;
      width: 20rem;
   }
   .sign-up-button {
      width: 14rem;
   }
   .landing-page-image img  {
      width: 540px;
      height: 800px;
   }
   .sign-up {
      margin-left: 0rem;
   }
   h2 {
      font-size: 32px;
   }
   .section-header {
      padding: 2rem;
   }
   .container-styling-2 {
      padding-bottom: 2rem;
   }
   .phone-img img {
      margin-left: 0rem ;
   }
   .about-paragraph {
      margin-left: 0rem; 
      padding-top: 3rem;
  }
  .about-paragraph > p {
      width: 100%;
      font-size: 18px;
      padding-top: 3rem;
      margin-left: inherit;
  }
  .Section-head{
     font-size: 32px;
     display: contents;
  }

  .container-styling {
     padding: 3rem;
     text-align: center;
  }
  .container-styling-2 {
     padding: 3rem;
     text-align: center;
  }
  .make-suggestions-on {
      padding-left: 0;
   }
   .options {
      padding-left: 0;
   }
   .social-media-icon{
      float: none;
      display: flex;
      justify-content: center;
   }
   .feedback-comment {
      margin-bottom: 3rem;
   }
}
